footer {
  position: relative;
    width: 100%;
    max-width:100%;
    display: flex;
    justify-content: space-around;
    height: 120px; 
    background-color: ;  
    border-color:  #e48fb2;
    border-style: dotted;
}



.gray {
    color: var(--gray);
    padding-top: 20px;
}

.btn-compra {
    background-color: #FF6B01;
    color: white;
    position: absolute;
    width: 70px;
    height: 71px;
    top: -20%;
    right: 46%; 
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.58);
    z-index: 100;
}

.my-float {
    margin-top: 20px;
}  
