footer {
    position: relative;
    bottom: 0;
    width: 100%;
    max-width:100%;
    display: flex;
    justify-content: space-around;
    height: 200px;
    border-color:  #e48fb2;
    border-style: dotted;
}

.gray {
    color: var(--gray);
    padding-top: 20px;
    cursor: pointer;
}

.btn-compra {
    background-color: #FF6B01;
    color: white;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -20%;
    border-radius: 100px;
    text-align: center;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.58);
    z-index: 100;
	left: calc(50% - 50px);
    cursor: pointer;
}

.my-float {
    margin-top: 30px;
}  
