
nav{
    position: relative;
    display:flex;
    justify-content:space-around;
}
.slider{
    align-items: center;
    font-family: "Sora";
    font-size: 10px;
    background-size: auto;
    width: 70px;
    height: 90px;
    left: 24px;
    top: 198px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    border: none;
}

nav img {
    width: 80%;
    top: 9px;
    border-radius: 0px;
}