
nav{
    position: relative;
    display:flex;
    justify-content:space-around;
}
.slider{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: "Sora";
    font-size: 24px;
    background-size: auto;
    width: 190px;
    height: 205px;
    left: 24px;
    top: 198px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    border: none;
}

.slider p{
    margin-bottom: 15px;
    margin-top: 10px;
}

nav img {
<<<<<<< HEAD
    width: 80%;
    top: 9px;
    border-radius: 0px;
}
=======
    
    width: 100%;

}

>>>>>>> aeff42d334f3283808e42cda7565af808ec045bc
