main section.menu {
    display: flex;
    width: 80%;
    align-items: center;
}

main section.menu img {
    filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    width: 264px;
    height: 264px;;
} 

main section.menu h2 {
    color: var(--dark-orange);
    font-size: 200%;
} 

main section.menu h3 {
    letter-spacing: 0.02em;
    font-size: 200%;
    padding-bottom: 4px;
} 

main section.menu p {
    color: gray;
    font-size: 170%;
    padding-bottom: 2px;
} 

main section.menu div.contador {
    display: flex;
    width: 150px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.07));
    font-size: 20px;
    color: var(--warm-black);
    font-weight: 900;
}

main section.menu div.contador p{
    background-color: var(--gray);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--warm-black);
}

main section.menu div.contador div {
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
}