main section.compra {
    /*display: none;*/
}


main section.compra table {
    width: 100%;
    background-color: var(--gamba);
    border-radius: 80px 80px 0 0;
    font-size: 200%;
    padding: 100px 60px;
}

main section.compra table tr {
    height: 70px;
}

main section.compra table p {
    color: rgba(255, 255, 255, 0.7);
}

main section.compra table h4 {
    text-align: right;
    color: #fff;
}

main section.compra table button {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 150%;
    outline: none;
    font-weight: 800;
    background: #F5F5F5;
    border-radius: 30px;   
    padding: 20px 80px;
    margin-top: 30px;
}