@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('header-div.css');
@import url('header-nav.css');
@import url('header-div2.css');
@import url('main-menu.css');
@import url('main-compra.css');
@import url('footer.css');


/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
  body {background: blue;}
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: orange;
  }
  header img {
    width: 10%;
  }
  header div h1 {
    font-size: 18px;
  }
  header div p {
    font-size: 12px;
  }

  .slider{
    font-size: 24px;
    width: 80px;
    height: 100px;
    left: 24px;
  }

  main {
    height: 100px;
  }

  main section.menu img {
    width: 164px;
    height: 164px;;
  } 

  main section.menu h2 {
      font-size: 100%;
  } 

  main section.menu h3 {
      font-size: 100%;
  } 

  main section.menu p {
      font-size: 70%;
  } 

  main section.menu div.contador {
      width: 90px;
      font-size: 15px;
  }

  main section.menu div.contador p{
      width: 30px;
      height: 30px;
  }

  main section.menu div.contador div {
      width: 30px;
      height: 30px;
      font-size: 120%;
  }

  footer {
    height: 90px;
    padding-top: 20px;
  }

  .btn-compra {
      width: 70px;
      height: 70px;
      top: -30%;
      left: calc(50% - 60px);
  }

  .my-float {
      margin-top: 25px;
  }  

  footer i {
    font-size: 25px;
  }


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
  body {background: pink;}
}*/

:root {
    /* Colors */
    --gamba: #FF6B01;
    --dark-orange: #D86F20;
    --light-gray:#FAFAFA;
    --gray: #DADADC;
    --warm-black: #282828;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
  height: 100vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Sora', sans-serif;
  min-width: 320px;
  max-width: 1000px;
  margin-top: 0;
}

.display1 {
  display: none;
}

.display2 {
  display: inline-block;
}

main {
  overflow: scroll;
  height: 900px;
  margin: 2% 5%;
  scroll-behavior: auto;
}


